<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adventurer Calculator</title>
</head>
<body>
<h2>Welcome</h2>
<h3 th:text="${'the power is ' + power}">to the guild</h3>
<h3 th:if="${0 <= power and power < 20000}" th:text="'C class'"></h3>
<h3 th:if="${20000 <= power and power < 100000}" th:text="'B class'"></h3>
<h3 th:if="${100000 <= power}" th:text="'A class'"></h3>
</body>
</html>